# Bike Station Locations and Boroughs

In [24]:
# import python modules
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('/Users/tabea/Documents/UrbanMobility/src')
from data import station_locations_fetching as locsFetch
from visualization import station_locations_vis as locsVis

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1. Get Bike Station Locations

by extracting relevant information from API requests to tfl BikePoint data

In [2]:
bike_locs = locsFetch.get_station_locations()    

print(bike_locs.shape)
bike_locs.head(5)

(796, 4)

  id                                  name        lat       lon
0  1            River Street , Clerkenwell  51.529163 -0.109970
1  2        Phillimore Gardens, Kensington  51.499606 -0.197574
2  3  Christopher Street, Liverpool Street  51.521283 -0.084605
3  4       St. Chad's Street, King's Cross  51.530059 -0.120973
4  5         Sedding Street, Sloane Square  51.493130 -0.156876

# 2. Add Boroughs Based on Station Location

by GET requests to 'findthatpostcode' API

In [4]:
# map borough to the bike locations
bike_locs['borough'] = bike_locs.apply(lambda row: locsFetch.get_borough(row['lat'], row['lon']), axis=1)
bike_locs.head(5)

,id,name,lat,lon,borough
0,1,"River Street , Clerkenwell",51.529163,-0.109970,Islington
1,2,"Phillimore Gardens, Kensington",51.499606,-0.197574,Kensington and Chelsea
2,3,"Christopher Street, Liverpool Street",51.521283,-0.084605,Hackney
3,4,"St. Chad's Street, King's Cross",51.530059,-0.120973,Camden
4,5,"Sedding Street, Sloane Square",51.493130,-0.156876,Kensington and Chelsea

### Save Loactions

In [5]:

bike_locs.to_csv('../data/interim/station_locations_boroughs.csv', header=True, index=None)