In [8]:
import pandas as pd
pd.options.display.max_seq_items = 2000

# Random Forest Modelling

### Data Preparation

In [238]:
journey_train = pd.read_csv('../data/processed/journey_data_2018_01.csv', parse_dates=['end_date', 'start_date'], index_col=0)
journey_test = pd.read_csv('../data/processed/journey_data_2019_01.csv', parse_dates=['end_date', 'start_date'], index_col=0)

In [219]:
journey_train.head()

,rental_id,end_date,end_station_name,start_date,start_station_name,day_of_week,hour,is_weekend,part_of_day,month,...,election_seats_percentage_lab,election_seats_percentage_ld,election_seats_percentage_gre,election_seats_percentage_ind,occupation_high_level_ratio_ratio,occupation_small_intermediate_ratio_ratio,occupation_lower_level_ratio_ratio,occupation_unemployed_ratio_ratio,occupation_student_ratio_ratio,earnings_workplace
0,72337672.0,2018-01-01 00:07:00,"Millbank Tower, Pimlico",2018-01-01 00:00:00,"Grosvenor Road, Pimlico",0,0,0.0,5,1.0,...,0.320000,0.000000,0.000000,0.000000,0.443089,0.161098,0.148262,0.118178,0.129374,60046.0
1,72337673.0,2018-01-01 01:16:00,"South Parade, Chelsea",2018-01-01 00:02:00,"South Parade, Chelsea",0,0,0.0,5,1.0,...,0.260000,0.020000,0.000000,0.000000,0.460353,0.177567,0.144639,0.104780,0.112661,41723.0
2,72337675.0,2018-01-01 00:58:00,"Portman Square, Marylebone",2018-01-01 00:02:00,"Portman Square, Marylebone",0,0,0.0,5,1.0,...,0.320000,0.000000,0.000000,0.000000,0.443089,0.161098,0.148262,0.118178,0.129374,60046.0
3,72337676.0,2018-01-01 00:59:00,"Portman Square, Marylebone",2018-01-01 00:02:00,"Portman Square, Marylebone",0,0,0.0,5,1.0,...,0.320000,0.000000,0.000000,0.000000,0.443089,0.161098,0.148262,0.118178,0.129374,60046.0
4,72337679.0,2018-01-01 14:11:00,"Stockwell Roundabout, Stockwell",2018-01-01 00:02:00,"New Fetter Lane, Holborn",0,0,0.0,5,1.0,...,0.733636,0.027273,0.010909,0.003636,0.635932,0.125062,0.084708,0.054598,0.099700,88145.0

In [246]:
# aggregate demand for each borough by summing
journey_train['demand'] = 1
journey_test['demand'] = 1

# caet a list of all column names except 'demand' and 'start_date'
column_names = [col for col in journey_train.columns]

# create a dictionary with all features, first -> always keep values of first element
aggregate_functions = {col: 'first' for col in column_names}

# add an entry for the 'demand' column with 'sum' as the aggregate function
aggregate_functions['demand'] = 'sum'

# perform the groupby operation
journey_train_hourly = journey_train.groupby([journey_train['start_date'].dt.floor('H'), 'start_borough']).agg(aggregate_functions).reset_index(drop=True)
journey_test_hourly = journey_test.groupby([journey_test['start_date'].dt.floor('H'), 'start_borough']).agg(aggregate_functions).reset_index(drop=True)

# one hot encoding start_borough
journey_train_hourly = pd.get_dummies(journey_train_hourly, columns=['start_borough'])
journey_test_hourly = pd.get_dummies(journey_test_hourly, columns=['start_borough'])

# create the target variables
y_train = journey_train_hourly['demand']
y_test = journey_test_hourly['demand']

# create the predictor variables
cols_to_remove = ['rental_id', 'end_date', 'end_borough', 'start_date', 'end_station_name', 'start_station_name', 'demand', 'borough', 'borough_code', 'year']
x_train = journey_train_hourly.drop(columns=cols_to_remove)
x_test = journey_test_hourly.drop(columns=cols_to_remove)

In [247]:
from sklearn.ensemble import RandomForestRegressor

# Initialize a Random Forest Regressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the train data
rf.fit(x_train, y_train)

# Predict on the test set
y_pred = rf.predict(x_test)

In [248]:
# Get feature importances
importances = rf.feature_importances_

# Create a DataFrame to display the feature importances
feature_importances = pd.DataFrame({'Feature': x_train.columns, 'Importance': importances})
feature_importances = feature_importances.sort_values('Importance', ascending=False)

# Display the feature importances
print(feature_importances)

                                       Feature  Importance
1                                         hour    0.305499
3                                  part_of_day    0.154383
15                                  cloudcover    0.062021
33              ethnic_african_caribbean_ratio    0.035869
0                                  day_of_week    0.034731
36                     ethnic_arab_other_ratio    0.024127
12                                      precip    0.023951
58                         crime_offences_rate    0.022634
22                           bike_docks_counts    0.021858
21                         bike_station_counts    0.021059
76               residence_lengh_uk_born_ratio    0.020925
20                                 day_of_year    0.019938
16                                  visibility    0.018323
105                  start_borough_Westminster    0.018137
9                                         temp    0.018010
18                              daylight_hours    0.016724
39                     religion_buddhist_ratio    0.016023
19                                day_of_month    0.015126
2                                   is_weekend    0.012260
10                                   feelslike    0.011426
8                                      tempmin    0.011241
50                              health_1_ratio    0.009869
13                                    windgust    0.008856
11                                    humidity    0.008220
14                                   windspeed    0.007207
7                                      tempmax    0.006754
66            distance_work_no_fix_place_ratio    0.002721
4                                        month    0.002600
81                personal_wellbeing_happiness    0.002582
82                  personal_wellbeing_anxiety    0.002491
43                         religion_sikh_ratio    0.002385
32                          ethnic_asian_ratio    0.002240
59                            business_density    0.001986
47       highes_education_apprenticeship_ratio    0.001962
30                     householdsize_3-5_ratio    0.001917
86               election_seats_percentage_gre    0.001786
73                  accommodation_mobile_ratio    0.001773
46                   highes_education_l2_ratio    0.001746
34                          ethnic_mixed_ratio    0.001735
17                                     uvindex    0.001696
37                           religion_no_ratio    0.001504
54                              health_5_ratio    0.001485
78             residence_lengh_10yr_less_ratio    0.001412
28                       householdsize_1_ratio    0.001383
90          occupation_lower_level_ratio_ratio    0.001375
31                      householdsize_6+_ratio    0.001309
61                 distance_work_2km_5km_ratio    0.001291
42                       religion_muslim_ratio    0.001274
60                distance_work_less_2km_ratio    0.001267
79        personal_wellbeing_life_satisfaction    0.001249
41                       religion_jewish_ratio    0.001226
23                          population_density    0.001201
64               distance_work_20km_more_ratio    0.001099
63               distance_work_10km_20km_ratio    0.001092
84               election_seats_percentage_lab    0.001068
88           occupation_high_level_ratio_ratio    0.001062
89   occupation_small_intermediate_ratio_ratio    0.001060
91           occupation_unemployed_ratio_ratio    0.001044
92              occupation_student_ratio_ratio    0.000992
83               election_seats_percentage_con    0.000973
52                              health_3_ratio    0.000960
100                      start_borough_Lambeth    0.000900
6                                 bank_holiday    0.000878
44                   highes_education_no_ratio    0.000872
85                election_seats_percentage_ld    0.000817
35                          ethnic_white_ratio    0.000816
27                                female_ratio    0.000792
62                distance_work_5km_10km_ratio    0.000727
72                    accommodation_flat_ratio    0.000727
51                              health_2_ratio    0.000698
53                              health_4_ratio    0.000695
48                   highes_education_l3_ratio    0.000668
65              distance_work_homeoffice_ratio    0.000659
68                         street_health_score    0.000616
101                       start_borough_Newham    0.000603
56                            blue_cover_ratio    0.000589
49                   highes_education_l4_ratio    0.000587
71                   accommodation_house_ratio    0.000581
45                   highes_education_l1_ratio    0.000581
75                            disability_ratio    0.000567
80               personal_wellbeing_worthwhile    0.000564
40                        religion_hindu_ratio    0.000531
24                                    age_mean    0.000508
74              tenure_owned_sharedowned_ratio    0.000501
77             residence_lengh_10yr_plus_ratio    0.000465
69                             house_price_avg    0.000460
67                          road_traffic_ratio    0.000454
5                                       season    0.000408
93                          earnings_workplace    0.000352
55                           green_cover_ratio    0.000337
29                       householdsize_2_ratio    0.000326
38                    religion_christian_ratio    0.000285
25                           age_25_percentile    0.000270
26                           age_75_percentile    0.000246
94                        start_borough_Camden    0.000177
70                         car_household_ratio    0.000162
57                  sports_participation_ratio    0.000106
87               election_seats_percentage_ind    0.000102
95                start_borough_City of London    0.000102
99        start_borough_Kensington and Chelsea    0.000034
103                start_borough_Tower Hamlets    0.000032
104                   start_borough_Wandsworth    0.000030
98                     start_borough_Islington    0.000024
102                    start_borough_Southwark    0.000018
97        start_borough_Hammersmith and Fulham    0.000014
96                       start_borough_Hackney    0.000006

In [249]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error, explained_variance_score

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared (R2) Score
r2 = r2_score(y_test, y_pred)


# Calculate Explained Variance Score
evs = explained_variance_score(y_test, y_pred)

print('RMSE:', rmse)
print('MAE:', mae)
print('R2 Score:', r2)
print('Explained Variance Score:', evs)

RMSE: 64.25754352148373
MAE: 30.362835428237357
R2 Score: 0.7241482978557934
Explained Variance Score: 0.7360997690958823